footer {
  background-color: $footer-bg;
  padding: 80px 45px 0;
  display: flex;
  .registr-container {
    margin-bottom: 200px;
    width: 450px;
    .footer__general-title {
      font-weight: bold;
      font-size: 23px;
      line-height: 58px;
      /* identical to box height, or 251% */

      letter-spacing: 0.7px;

      color: #f5f1e9;

      margin-bottom: 27px;
    }
    .footer__gereral-text {
      font-size: 14px;
      line-height: 24px;

      color: #fcfaf6;
    }
    .footer__form {
      margin-top: 62px;

      position: relative;
      display: flex;
      width: 400px;
      .label {
        display: flex;
        align-items: center;
        // justify-content: center;
        font-weight: bold;
        font-size: 13px;
        line-height: 58px;
        letter-spacing: 0.7px;

        color: rgba(0, 0, 0, 0.5);
      }
      .input {
        // position: absolute;
        width: 400px;
        padding: 23px 20px 23px;
      }
      .label__span {
        position: absolute;
        left: 20px;
      }
      .submit-btn {
        cursor: pointer;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;

        color: #4f463f;

        border: none;
        background-color: transparent;
        transition: background-color 350ms linear;
      }
      .submit-btn:hover {
        background-color: rgba(240, 226, 226, 0.699);
      }
    }
  }
  .footer-nav {
    margin-left: auto;
    .cols-container {
      display: flex;
      width: 400px;

      .col {
        width: calc((100%) / 3);
      }
      .footer-nav__title {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        color: #f5f1e9;
        margin-bottom: 15px;
      }
      .footer-nav__list {
      }
      .footer-nav__item {
        font-size: 16px;
        line-height: 31px;
        color: rgba(245, 241, 233, 0.6);
      }
      .footer-nav__item:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
.footer-copy-container {
  display: flex;
  padding: 25px 38px;
  background-color: #807c62;
  border: none;
  .footer__copy {
    margin-right: auto;
    font-size: 14px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);
  }
  .footer-bottom__list {
    display: flex;
    align-items: center;
  }
  .footer-bottom__item {
    font-size: 14px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);
    &.inval {
      padding: 2px 20px;
      height: 15px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .footer-bottom__item:not(:last-child) {
    margin-right: 30px;
  }
  .footer-bottom__link {
    font-size: 14px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);
    display: flex;
    .svg {
      width: 15px;
      height: 15px;
      fill: #000;
    }
  }
}
